@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,300;1,900&family=Open+Sans:wght@300;600;800&display=swap");

@font-face {
  font-family: "WixMadefor";
  src: url(../fonts/WixMadefor/WixMadeforDisplay-SemiBold.ttf);
}
@font-face {
  font-family: "daylin";
  src: url(../fonts/daylin/daylin.ttf);
}
@font-face {
  font-family: "lecheet";
  src: url(../fonts/lecheet/Lecheet.ttf);
}
@font-face {
  font-family: "riseup";
  src: url(../fonts/riseup/Riseup.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito_Sans/NunitoSans_10pt_Expanded-ExtraLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#portadaTexto1 {
  font-family: "lil-stuart";
  font-size: 3rem;
}
#portadaTexto2 {
  font-family: "lecheet";
  font-size: 5rem;
}
#portadaTexto3 {
  font-family: "daylin";
  font-size: 3rem;
}
#textomedio {
  font-family: "WixMadefor";
  font-size: 20px;
}
#titulocv{
  font-family: "riseup";
  font-size: 4rem;
}
#introcv{
  font-family: "Nunito";
  font-size: 1rem;
}
#textocv{
  font-family: "WixMadefor";
  font-size: 20px;
}
#datoscontacto{
  font-family: "WixMadefor";
  font-size: 20px;
}
#video {
  font-family: "riseup";
}
#imagenes {
  font-family: "riseup";
}

.bg-image {
  background-size: cover;
  background-position: top;
  width: auto;
  height: auto;
}
.section-heading {
  font-size: 4rem;
}
.section-subheading {
  font-size: 1ram;
}

main {
  height: 75%;
}
footer {
  height: 10%;
}
.widthvideo {
  width: 40%;
}
