@media (max-width: 1200px) {
  h1 {
    font-size: 80%;
  }
  h2 {
    font-size: 70%;
  }
  h3 {
    font-size: 80%;
  }
  h4{
    font-size: 70%;
  }
  h5{
    font-size: 70%;
  }
  h6{
    font-size: 70%;
  }

}
@media (max-width: 1024px) {
  h1 {
    font-size: 70%;
  }
  h2 {
    font-size: 60%;
  }
  h3 {
    font-size: 70%;
  }
  h4{
    font-size: 60%;
  }
  h5{
    font-size: 60%;
  }
  h6{
    font-size: 60%;
  }

}
@media (max-width: 992px) {
  h1 {
    font-size: 60%;
  }
  h2 {
    font-size: 50%;
  }
  h3 {
    font-size: 60%;
  }
  h4{
    font-size: 50%;
  }
  h5{
    font-size: 50%;
  }
  h6{
    font-size: 50%;
  }

}
@media (max-width: 480px) {
  h1 {
    font-size: 50%;
  }
  h2 {
    font-size: 40%;
  }
  h3 {
    font-size: 60%;
  }
  h4{
    font-size: 40%;
  }
  h5{
    font-size: 40%;
  }
  h6{
    font-size: 40%;
  }

}
@media (max-width: 320px) {
    h1 {
      font-size: 50%;
    }
    h2 {
      font-size: 40%;
    }
    h3 {
      font-size: 50%;
    }
    h4{
      font-size: 35%;
    }
    h5{
      font-size: 35%;
    }
    h6{
      font-size: 35%;
    }

  }
