/* ======================== + 1440PX ======================== */
@media (max-width: 2560px) {
  /*   h1 {
    font-size: 100%;
  }
  h2 {
    font-size: 100%;
  }
  h3 {
    font-size: 100%;
  }
 */
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .video-sombra {
    width: 16rem !important;
    height: auto !important;
  }
}
/* ======================== + 1024PX ======================== */
@media (max-width: 1440px) {
  /* h1 {
    font-size: 90%;
  }
  h2 {
    font-size: 90%;
  }
  h3 {
    font-size: 90%;
  } */
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .video-sombra {
    width: 13rem !important;
    height: auto !important;
  }
  .text-color-video {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}
/* ======================== + 768PX ======================== */
@media (max-width: 1024px) {
  h1 {
    font-size: 80%;
  }
  h2 {
    font-size: 80%;
  }
  h3 {
    font-size: 80%;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .video-sombra {
    width: 13rem !important;
    height: auto !important;
  }
  .text-color-video {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  #instagram {
    width: 30px;
  }
  #gmail {
    width: 30px;
  }
}
/* ======================== + 425PX ======================== */
@media (max-width: 768px) {
  h1 {
    font-size: 45%;
  }
  h2 {
    font-size: 45%;
  }
  h3 {
    font-size: 45%;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  .video-sombra {
    width: 10rem !important;
    height: auto !important;
  }
  .text-color-video {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  #instagram {
    width: 30px;
  }
  #gmail {
    width: 30px;
  }
}
/* ======================== + 375PX ======================== */
@media (max-width: 425px) {
  /*   h1 {
    font-size: 40%;
  }
  h2 {
    font-size: 40%;
  }
  h3 {
    font-size: 40%;
  } */
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  .video-sombra {
    width: 10rem !important;
    height: auto !important;
  }
}
/* ======================== + 320PX ======================== */
@media (max-width: 375px) {
  /*   h1 {
    font-size: 50%;
  }
  h2 {
    font-size: 50%;
  }
  h3 {
    font-size: 50%;
  } */
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  .video-sombra {
    width: 10rem !important;
    height: auto !important;
  }
}
/* ======================== + 216PX ======================== */
@media (max-width: 320px) {
  /*   h1 {
      font-size: 40%;
    }
    h2 {
      font-size: 40%;
    }
    h3 {
      font-size: 40%;
    } */
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  .video-sombra {
    width: 10rem !important;
    height: auto !important;
  }
  .card {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  #instagram {
    width: 20px;
  }
  #gmail {
    width: 20px;
  }
}
