/* ======================== NAV ======================== */
.navbar-brand {
  width: 210px;
  transition: all 0.5s ease;
}
.navbar-brand:hover {
  width: 230px;
}
.border-success {
  border-color: #115d68 !important;
}
.btn-outline-success:hover {
  background-color: #115d68 !important;
}

/* ======================== INDEX ======================== */
.main_index {
  margin-top: 3rem;
  padding-top: 3rem;
}

/* ======================== VIDEOS ======================== */
.header-videos {
  background: rgb(255, 116, 130);
  background: linear-gradient(
    180deg,
    rgb(243, 145, 155) 0%,
    rgba(248, 217, 220, 1) 82%,
    rgba(255, 243, 205, 1) 100%
  );
}
.body-color-videos {
  background-color: var(--body-color-videos);
  color: #4d5380;
}
.text-color-video {
  color: #4d5380;
}
.video-sombra {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* ======================== IMÁGENES ======================== */
.header-imagenes {
  background: rgb(255, 236, 207);
  background: linear-gradient(
    180deg,
    rgba(255, 236, 207, 1) 69%,
    rgba(230, 224, 230, 1) 84%,
    rgba(204, 211, 255, 1) 100%
  );
}
.body-color-imagenes {
  background-color: var(--body-color-imagenes);
  color: #474959;
}
.bg-image {
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.img-hover {
  transition: all 0.5s ease;
}
.img-hover:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* ======================== CURÍCULUM ======================== */
.header-curriculum {
  background: rgb(181, 211, 255);
  background: linear-gradient(
    180deg,
    rgba(181, 211, 255, 1) 69%,
    rgba(193, 228, 226, 1) 87%,
    rgba(211, 255, 181, 1) 100%
  );
}
.body-color-curriculum {
  background-color: var(--body-color-curriculum);
}
.nombre-bold {
  font-weight: bold;
}
.color-texto-cv {
  color: #203015;
}

/* ======================== CONTACTO ======================== */
.header-contactos {
  background: rgb(181, 255, 240);
  background: linear-gradient(
    180deg,
    rgba(181, 255, 240, 1) 0%,
    rgba(203, 218, 248, 1) 90%,
    rgba(225, 181, 255, 1) 100%
  );
}
.contactos-visited {
  color: rgb(38, 0, 255);
  text-decoration: none;
}
.body-color-contacto {
  background-color: var(--body-color-contacto);
}
.caja-wpp{
background-color: #ffbcb5 ;
}
.caja-insta{
  background-color: #d3ffb5;
}
.caja-email{
  background-color: #b5f8ff;
}
.btn-form{
 background-color: #78B36D;
 transition: all 0.5s ease;
}
.btn-form:hover{
  background-color: #B6FFA8;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
 }
/* ======================== FOOTER ======================== */
.ico-hover img {
  transition: transform 1s;
  position: fixed;
  top: 93%;
}
.ico-hover:hover img {
  transform: scale(1.1);
}
.bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333333;
}
.bottom p {
  margin-bottom: 3px;
  font-weight: bold;
}
.custom-font-weight {
  font-weight: bold;
  margin-bottom: 3px;
}
.custom-button {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  border-color: #888888;
  border-style: solid;
  padding: 1px 9px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background-color 0.3s;
}
.custom-button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}
.img-poco-texto {
  width: 30px !important;
}
