.bg-image {
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.section-heading {
  font-size: 2rem;
}
.section-subheading {
  font-size: 1ram;
}
.navbar-brand {
  width: 210px;
}
.navbar-brand:hover {
  width: 230px;
}
.navbar-brand:active {
  width: 250px;
}
.main_index {
  margin-top: 3rem;
  padding-top: 3rem;
}
.nombre-bold {
  font-weight: bold;
}
.header-videos {
  background: rgb(255, 116, 130);
  background: linear-gradient(
    180deg,
    rgb(243, 145, 155) 0%,
    rgba(248, 217, 220, 1) 82%,
    rgba(255, 243, 205, 1) 100%
  );
}
.header-curriculum {
  background: rgb(255, 197, 24);
  background: linear-gradient(
    180deg,
    rgba(255, 197, 24, 1) 81%,
    rgba(233, 236, 239, 1) 100%
  );
}
.header-contactos {
  background: rgb(80, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(80, 79, 79, 1) 0%,
    rgba(154, 163, 167, 1) 76%,
    rgba(207, 244, 252, 1) 100%
  );
}
.contactos-visited:visited {
  color: rgb(132, 0, 255);
}
.header-imagenes {
  background: rgb(67, 68, 69);
  background: linear-gradient(
    180deg,
    rgba(67, 68, 69, 1) 0%,
    rgba(77, 81, 87, 1) 63%,
    rgba(96, 105, 116, 1) 79%,
    rgba(158, 167, 181, 1) 93%,
    rgba(207, 226, 255, 1) 100%
  );
}
.body-color{
  background-color: #fff3cd;
}