* {
  @extend %reset-box;
}

h1 {
  @include font-size-and-family(50px, $font-lato);
}

h2 {
  @include font-size-and-family(60px, $font-lecheet);
}

h3 {
  @include font-size-and-family(40px, $font-daylin);
}

h4 {
  @include font-size-and-family(40px, $font-lato);
}

h5 {
  @include font-size-and-family(20px, $font-rubik);
  font-weight: bold;
}

p {
  @include font-size-and-family(15px, $font-nunito);
}
li:hover a {
  color: white !important;
}
li:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
