@font-face {
  font-family: "wixmade";
  src: url(../../fonts/wixmadefor/wixmadefordisplay-semibold.ttf);
}
@font-face {
  font-family: "daylin";
  src: url(../../fonts/daylin/daylin.ttf);
}
@font-face {
  font-family: "lecheet";
  src: url(../../fonts/lecheet/lecheet.ttf);
}
@font-face {
  font-family: "nunito";
  src: url(../../fonts/nunito_sans/nunitosans_10pt_expanded-extralight.ttf);
}
@font-face {
  font-family: "lato";
  src: url(../../fonts/lato/lato-italic.ttf);
}
@font-face {
  font-family: "rubik";
  src: url(../../fonts/rubik/rubik-light.ttf);
}