#portadaTexto1 {
  font-size: 3rem;
}
#portadaTexto2 {
  font-size: 4.35rem;
}
#portadaTexto3 {
  font-size: 3rem;
}
#textomedio {
  font-size: 20px;
}
#titulocv {
  font-size: 2rem;
}
#introcv {
  font-size: 1rem;
}
#textocv {
  font-size: 20px;
}
#datoscontacto {
  font-size: 20px;
}
#instagram {
  width: 40px;
}
#gmail {
  width: 40px;
}
