#portadaTexto1 {
  font-family: "lato";
  font-size: 3rem;
}
#portadaTexto2 {
  font-family: "lecheet";
  font-size: 4.35rem;
}
#portadaTexto3 {
  font-family: "daylin";
  font-size: 3rem;
}
/* #textomedio {
  font-family: "wixmadefor";
  font-size: 20px;
}
#titulocv {
  font-family: "riseup";
  font-size: 4rem;
}
#introcv {
  font-family: "nunito";
  font-size: 1rem;
}
#textocv {
  font-family: "wixmadefor";
  font-size: 20px;
}
#datoscontacto {
  font-family: "wixmadefor";
  font-size: 20px;
} */
#instagram {
  width: 40px;
}
#gmail {
  width: 40px;
}
