:root {
  --body-color-videos: #fff3cd;
  --body-color-imagenes: #ccd3ff;
  --body-color-curriculum: #d3ffb5;
  --body-color-contacto: #e1b5ff;

  --nav-border-color: #115d68;
  --nav-text-1-color: #000000;
  --nav-texto-2-color: #ffffff;
}
